
#main_featured_plugins_page #featured-plugins-list {
	position:relative;
	margin:0px auto;
	width:90%;
	height:auto;
	display:table;
	list-style:none;
	padding:0px;
}

#main_featured_plugins_page #featured-plugins-list li {
	display:block;
	height:113px;
	padding:15px 5% 15px 5%;
	margin:0px 0px 12px 0px;
	background:#ededed;
}

#main_featured_plugins_page #featured-plugins-list li  .product {
	position:relative;
	float:left;
	width:35%;
	height:113px;
}

#main_featured_plugins_page #featured-plugins-list li  .title {
	float:left;
	height:113px;
	width:90%;
	margin:0px 0px 0px 109px;
	background:#cacaca;
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
}

#main_featured_plugins_page #featured-plugins-list li.photo-gallery .title,
#main_featured_plugins_page #featured-plugins-list li.twitter-widget .title  {
	border-left-style: solid;
	border-width: 1px;
	border-color: #ededed;
}

#main_featured_plugins_page #featured-plugins-list  li.form-maker  .product {background:url(../images/form.jpg) left center no-repeat;}
#main_featured_plugins_page #featured-plugins-list  li.catalog  .product {background:url(../images/catalog.jpg) left center no-repeat;}
#main_featured_plugins_page #featured-plugins-list  li.contact-maker  .product {background:url(../images/contact.maker.jpg) left center no-repeat;}
#main_featured_plugins_page #featured-plugins-list  li.contacts  .product {background:url(../images/contacts.jpg) left center no-repeat;}
#main_featured_plugins_page #featured-plugins-list  li.facebook  .product {background:url(../images/facebook.jpg) left center no-repeat;}
#main_featured_plugins_page #featured-plugins-list  li.faq  .product {background:url(../images/faq.jpg) left center no-repeat;}
#main_featured_plugins_page #featured-plugins-list  li.flash-calendar .product {background:url(../images/flash.calendar.jpg) left center no-repeat;}
#main_featured_plugins_page #featured-plugins-list  li.folder-menu  .product {background:url(../images/folder.menu.jpg) left center no-repeat;}
#main_featured_plugins_page #featured-plugins-list  li.player  .product {background:url(../images/player.jpg) left center no-repeat;}
#main_featured_plugins_page #featured-plugins-list  li.spider-calendar  .product {background:url(../images/spider.calendar.jpg) left center no-repeat;}
#main_featured_plugins_page #featured-plugins-list  li.zoom .product {background:url(../images/zoom.jpg) left center no-repeat;}
#main_featured_plugins_page #featured-plugins-list  li.random-article .product {background:url(../images/random.article.png) left center no-repeat;}
#main_featured_plugins_page #featured-plugins-list  li.audio-player .product {background:url(../images/audio.player.png) left center no-repeat;}
#main_featured_plugins_page #featured-plugins-list  li.twitter-tools .product {background:url(../images/twitter.tools.png) left center no-repeat;}
#main_featured_plugins_page #featured-plugins-list  li.ecommerce .product {background:url(../images/ecommerce.png) left center no-repeat;}
#main_featured_plugins_page #featured-plugins-list  li.gallerywd .product {background:url(../images/gallerywd.png) left center no-repeat;}
#main_featured_plugins_page #featured-plugins-list  li.sliderwd .product {background:url(../images/sliderwd.png) left center no-repeat;}


#main_featured_plugins_page #featured-plugins-list li  .title  .heading {
	display:block;
	position:relative;
	font-size:24px;
	color:#014f73;
	margin:30px 0px -10px 20px;
}

#main_featured_plugins_page #featured-plugins-list li  .title  p {
	font-size:14px;
	color:#444;
	margin:20px;
}

#main_featured_plugins_page #featured-plugins-list li  .description {
	float:right;
	width:50%;
	height:113px;
}

#main_featured_plugins_page #featured-plugins-list li  .description  p {
	text-align:right;
}

#main_featured_plugins_page #featured-plugins-list li  .description   a.download, #main_featured_plugins_page #featured-plugins-list li  .description   a.download:link, #main_featured_plugins_page #featured-plugins-list li  .description   a.download:visited {
	display:block;
	width:106px;
	height:32px;
	text-indent:-9999px;
	background:url(../images/download.jpg) left top no-repeat;
	float:right;
}
